h1 {
	font-family: "Calibri", Times, cursive;
}

h2 {
	font-family: "Helvetica", Times, sans-serif;
	color: Gray;
}

input {
	width: 50%;
	padding: 12px;
	margin: 8px;
	background-color: #3CBC8D;
	color: white;
}