<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
	<br>
  </h1>
<nav>
  <app-login></app-login>
  <a routerLink="/appointment" routerLinkActive="active">
  <button mat-button color="primary">Haven't registered? Click here</button>
  </a>
  <br><br>
</nav>
<router-outlet></router-outlet>
</div> 
<h2>
  Login
</h2>
<nav>
	<a routerLink="/appointment" routerLinkActive="active">Appointment</a>
</nav>
<router-outlet></router-outlet>
<app-login></app-login> 

