@import url(https://fonts.googleapis.com/css?family=Roboto:300);


h1 {
	font-family: "Times New Roman", Times, cursive;
}

h2 {
	font-family: "Roboto", sans-serif;
	color: Gray;
}

/* .form .create {
  display: none;
} */

div {
	background-color: #4CAF50;
	padding: 300px;
} 
