<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Username" type="text" formControlName="username" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Password" type="password" formControlName="password" required>
</mat-form-field>
  
<router-outlet></router-outlet>
<nav>
<br>
<button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid"><h2>Login</h2></button>
<ul>
	<li *ngFor="let user of userService.users">{{user.firstname}}</li>
</ul>
</nav>
<nav>
    <a routerLink="/appointment" routerLinkActive="active">
      <button mat-button color="primary">Haven't registered? Click here</button>
    </a>
</nav>

</form>
<ul>
	<li *ngFor="let user of userService.users">{{user.firstname}}</li>
</ul>

