<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

<mat-form-field class="example-full-width">
  <input matInput placeholder="Username" type="text" formControlName="username" required>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Password" type="password" formControlName="password" required>
</mat-form-field>
  <nav>
    <a routerLink="/appointment" routerLinkActive="active">
      <button mat-button color="primary">Haven't registered? Click here</button>
    </a>
  </nav>
  <router-outlet></router-outlet>

<p>
<button mat-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
<p>

</form>
