<h2>
  Hello Receptionist!
</h2>

<mat-accordion class="tabs">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Patient personal
      </mat-panel-title>
      <mat-panel-description>
        Patient's Personal Info
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="First name" value="Bob">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Last Name" value="Parker">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Middle Initial" value="A">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email Address" value="parker27@yahoo.com">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="Address" value="2574 Amber Rd">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="City" value="San Antonio">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="State" value="Texas">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Zip Code" value="78254">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Insurance
      </mat-panel-title>
      <mat-panel-description>
        Patient's Insurance Info
        <mat-icon>credit_card</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="ID Number" value="GFZ257456691">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Group Number" value="752569">
    </mat-form-field>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schedule Appointment
      </mat-panel-title>
      <mat-panel-description>
        Select Appointment Time
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

  <nav>
    <a routerLink="/logout" routerLinkActive="active">
      <button mat-button color="primary">Log Out</button>
    </a>
  </nav>
  <router-outlet></router-outlet>
