@import url(https://fonts.googleapis.com/css?family=Roboto:300);

input {
	font-family: "Roboto", sans-serif;
	width: 25%;
	padding: 8px;
	margin: 8px;
	background-color: #f2f2f2;
	color: black;
}

label {
	font-family: "Roboto", sans-serif;
}

p {
	font-family: "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: gray;
  width: 30%;
  padding: 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
/*   -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease; */
}